### MY470 Computer Programming
# Control Flow in Python
### Week 3 Lecture

## Overview

* What is control flow?
* Conditional statements
* Iteration
* List comprehensions
* Examples
 * Exhaustive enumeration 
 * Bisection search
 * Newton-Raphson algorithm
 
---
* Useful Python package: `pandas`

## From Last Week: Straight-Line Programs

In [1]:
s = 'All animals are equal, but some animals are more equal than others.'
s = s.rstrip('.').lower()
s_tokens = s.split()
print('There are', len(s_tokens), 'words in the sentence.')

There are 12 words in the sentence.

## Control Flow

* Control flow is the order in which statements are executed or evaluated
* In Python, there are three main categories of control flow:
  * **Branches** (conditional statements) – execute only if some condition is met
  * **Loops** (iteration) – execute repeatedly 
  * Function calls – execute a set of distant statements and return back to the control flow

## Conditional Statements

![Conditional statements](figs/conditional_statements.png "Conditional statements")

## Conditional Statements: `if`

```
if *Boolean expression*:
    *block of code*
```

In [2]:
x = input('How old are you? ')
if int(x) >= 25:
    print("Ah, I see, you are a mature student.")

How old are you? 26
Ah, I see, you are a mature student.

## Indentation in Python Code

* Indentation is semantically meaningful in Python
* You can use [tabs or spaces](https://www.youtube.com/watch?v=SsoOG6ZeyUI)

* Obviously(!), tabs are preferable
* However, it does not really matter in Jupyter as Jupyter converts tabs to spaces by default

## Conditional Statements: `if`–`else`

```
if *Boolean expression*:
    *block of code*
else:
    *block of code*
```

In [3]:
x = 5
if x%2==0:
    print("Even")
else:
    print("Odd")    
print('Problem solved!')

Odd
Problem solved!

## Conditional Statements: `if`–`elif`–`else`

```
if *Boolean expression*:
    *block of code*
elif *Boolean expression*:
    *block of code*
else:
    *block of code*
```

In [4]:
x = -2
if x > 0:
    print('Positive')
elif x < 0:
    print('Negative')
else:
    print('Zero')

Negative

## Conditional Statements Are Evaluated Sequentially

Hence, it makes sense to start with the most likely one. This could make your code faster!

In [5]:
correct = 25

guess = int(input("Guess which number from 1 to 100 I'm thinking of? "))

if guess > correct + 10 or guess < correct - 10:
    print("You are quite far. Try again.")
elif guess != correct:
    print("You are very close. Try again.")
else:
    print("That's right!")

Guess which number from 1 to 100 I'm thinking of? 30
You are very close. Try again.

## Nested Conditional Statements

Nesting conditional statements is often a question of style. As always, clarity and speed should be your major considerations!

In [6]:
x = -100

if type(x)==int or type(x)==float:
    if x > 0:
        print('This is a non-negative number')
    else:
        print('This is a negative number')
elif type(x)==str:
    print('This is a string.')
else:
    print("I don't now what this is.")

This is a negative number

## Iteration

![Iteration](figs/iteration.png "Iteration")

## Iteration: `while` vs. `for`

```
while *Boolean expression*:
    *block of code*
```

```
for *element* in *sequence*:
    *block of code*
```

## Iteration: `while` with decrementing function

The decrementing function is a function that maps variables to an integer that is initially non-negative but that decreases with every pass through the loop; the loop ends when the integer is 0.

In [7]:
# decrementing function: 5 - x
x = 0
while x < 5: 
    x += 1
    print(x)

1
2
3
4
5

## Iteration: `while` with conditional statements

In [8]:
correct = 25
repeat = True

while repeat:
    guess = int(input("Guess which number from 1 to 100 I'm thinking of? "))
    
    if guess > correct + 10 or guess < correct - 10:
        print("You are quite far. Try again.")
    elif guess != correct:
        print("You are very close. Try again.")
    else:
        print("That's right!")
        repeat=False

Guess which number from 1 to 100 I'm thinking of? 70
You are quite far. Try again.
Guess which number from 1 to 100 I'm thinking of? 24
You are very close. Try again.
Guess which number from 1 to 100 I'm thinking of? 25
That's right!

## Iteration: `for`

```
for *element* in *sequence*:
    *block of code*
```

In [9]:
for i in [1, 2, 3, 4, 5]:
    print(i, end=' ') 
    # Note that the "end" parameter replaces the default new line with a space
    # This allows us to print on the same line

1 2 3 4 5

## `range()`

* In-built function that produces an immutable ordered non-scalar object of type `range`
* Initiate as `range([start], stop, [step])`. If ommitted, `start = 0` and `step = 1`. 
* Function produces progression of integers `[start, start + step, start + 2*step, ..., start + i*step]` 
  * If step > 0, `start + i*step < stop` 
  * If step < 0, `start - i*step > stop`

In [10]:
print(range(6))
print(list(range(6)))

range(0, 6)
[0, 1, 2, 3, 4, 5]

## `range()` is essential for `for`-loops

In [11]:
for i in range(6):
    print(i, end=' ')
print() 

for i in range(1,6):
    print(i, end=' ')
print()
    
for i in range(1,6,2):
    print(i, end=' ')

0 1 2 3 4 5
1 2 3 4 5
1 3 5

## Indexing Lists with `range(len(L))`

In [12]:
mylist = ['a', 'b', 'c', 'd']
for i in range(len(mylist)):
     print('index', i, '-', mylist[i])

index 0 - a
index 1 - b
index 2 - c
index 3 - d

* This is especially useful when you need to go simultaneously over two different lists of the same length

In [13]:
mylist1 = ['a', 'b', 'c', 'd']
mylist2 = [1, 2, 3, 4]
for i in range(len(mylist1)):
     print(mylist1[i] + str(mylist2[i]), end = ', ')

a1, b2, c3, d4,

## Iteration: `break` and `continue`

* Use `break` to exit a loop 
* Use `continue` to go directly to next iteration

In [14]:
for i in range(5):
    if i==2:
        continue  # Now try with break
    print(i)

0
1
3
4

## List Comprehensions

```
L = [*object, expression, or function* for *element* in *sequence*]
L = [*object, expression, or function* for *element* in *sequence* if *Boolean expression*]
L = [*object, expression, or function* for *element* in *sequence* for *element2* in *sequence2*]
```

* Provide a concise way to create lists
* Faster because implemented in C
* Nested list comprehension can be somewhat confusing

## List Comprehensions

In [15]:
print([x**2 for x in range(1,11)])

ans = []
for x in range(1,11):
    ans.append(x**2)
print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
print([x**2 for x in range(1,11) if x%2==0])
print([x+y for x in ['a', 'b', 'c'] for y in ['1','2', '3']])

[4, 16, 36, 64, 100]
['a1', 'a2', 'a3', 'b1', 'b2', 'b3', 'c1', 'c2', 'c3']

## Dictionary and Set Comprehensions

In [17]:
print({x: x**2 for x in range(1,11)})
print({x.lower(): y for x, y in [('A',1), ('b',2), ('C',2)]})

print({x.lower() for x in 'SomeRandomSTRING'})

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{'a': 1, 'b': 2, 'c': 2}
{'o', 's', 't', 'm', 'n', 'g', 'e', 'a', 'r', 'i', 'd'}

## Example: Exhaustive Enumeration

In [18]:
# Find an approximation to the square root of a number

x = 2500

ans = 0

# Increment ans until all options exhausted
while ans**2 < abs(x):
    ans += 1
    
if ans**2 != abs(x):
    print(x, 'is not a perfect square')
else:
    print('The square root of', x, 'is', ans)

The square root of 2500 is 50

## Exhaustive Enumeration

![Learning addition with an abacus as exhaustive enumeration](figs/exhaustive_enumeration.jpg "Learning addition with an abacus as exhaustive enumeration")


* Systematically enumerate all possible solutions until you get the right answer or run out of possibilities
* Example of **brute-force search** (aka **guess and check** strategy) — a general problem-solving technique in computer science
* Suprisingly useful as computers are quite fast these days!

## Example: Approximation with Exhaustive Enumeration

In [19]:
# Find an approximation to the square root of a number using exhaustive enumeration

x = 25

epsilon = 0.01  # Precision of approximation  
step = epsilon**2

num_guess = 0 # Keep track of iteration steps
ans = 0

# Increment ans with step until close enough or until all options exhausted
while abs(ans**2 - x) >= epsilon and ans <= x:
    ans += step
    num_guess += 1
    
if abs(ans**2 - x) >= epsilon:
    print('Failed to find close approximation to the square root of', x)
else:
    print('Found', ans, 'to be close approximation to square root of', x)
    
print('num_guess =', num_guess)

Found 4.999000000001688 to be close approximation to square root of 25
num_guess = 49990

## Bisection Search

![Searching for a word in a dictionary as bisection search](figs/bisection_search.jpg "Searching for a word in a dictionary as bisection search")

* Start in the middle of the array, eliminate the half in which the answer cannot lie, and continue the search in the other half until you get the right answer or run out of possibilities
* Example of **divide and conquer** strategy — an algorithm-design paradigm in computer science
  
* Naturally implemented as a recursive procedure (covered next week)

*In divide and conquer algorithms you divide the problem into smaller pieces until you can solve them, then reassemble the pieces to find the final solution.*

## Example: Approximation with Bisection Search

In [20]:
# Find an approximation to the square root of a number using bisection search

x = 25

epsilon = 0.01  # Precision of approximation  
num_guess = 0 # Keep track of iteration steps

# Define interval for search
low = 0
high = max(1, x)

# Start in the middle
ans = (high + low) / 2 

# Narrow down search interval until ans close enough
while abs(ans**2 - x) >= epsilon:
    if ans**2 < x:
        low = ans
    else:
        high = ans
    ans = (high + low) / 2
    num_guess += 1
    
print('Found', ans, 'to be close approximation to square root of', x)
    
print('num_guess =', num_guess)

Found 5.00030517578125 to be close approximation to square root of 25
num_guess = 13

## Newton-Raphson Method for Finding Polynomial Roots

![Root-finding with the Newton-Raphson method](figs/newton-raphson.jpg "Root-finding with the Newton-Raphson method")

* $x^2 - 25$ is a polynomial $p$
* Newton proved a theorem that implies that if $a$ is a an approximation to the root of $p=0$, then $a - \frac{p(a)}{p'(a)}$ is a better approximation
* $p'$ is the first derivative of $p$. For $p = x^2 - 25$, $p' = 2x$

## Example: Approximation with Newton-Raphson Method

In [21]:
# Find an approximation to the square root of a number using Newton-Raphson method
# Find x such that x**2 - 25 is within epsilon of 0.01

k = 25

epsilon = 0.01  # Precision of approximation  
num_guess = 0 # Keep track of iteration steps

# Initialize first guess
ans = k

# Use Newton's theorem until ans close enough
while abs(ans**2 - k) >= epsilon:
    ans = ans - ( (ans**2 - k) / (2*ans))
    print(ans)
    num_guess += 1
    
print('Found', ans, 'to be close approximation to square root of', k)
    
print('num_guess =', num_guess)

13.0
7.461538461538462
5.406026962727994
5.015247601944898
5.000023178253949
Found 5.000023178253949 to be close approximation to square root of 25
num_guess = 5

## Control Flow

![Three categories of control flow](figs/control_flow.png "Three categories of control flow")

-------

* **Lab**: `for` loops and list comprehensions, including nested list comprehensions
* **Assignment**: Practice conditional statements and iteration on data
* **Next week**: Functions in Python

---

### MY470 Computer Programming
# Useful Python Library: `pandas`
### Week 3 Extra

## Background

![Pandas](figs/pandas.png "Pandas")

* Python library for data manipulation and analysis 
    * The name is derived from **pan**el **da**ta = **pandas**
    * Partially written in C, so optimized for performance
* Key features
    * DataFrame object to hold and manipulate data
    * Read from and write in multiple file formats
    * Fancy indexing (including hierarchical)
    * Operetaions to handle missing data
    * Operations to slice, subset, split, reshape, pivot, merge, and join data sets

## `DataFrame`

* Primary `pandas` object
* 2-d heterogeneous tabular data structure with axes labels (rows and columns)
* like a `dict` for lists (more precisely, `pd.Series`)

In [22]:
import pandas as pd
import numpy as np

In [23]:
# Create DataFrame from dictionary
d = {'Col1': [1, 2, 3], 'Col2': ['a', 'b', np.nan]}
df1 = pd.DataFrame(data=d)
df1

   Col1 Col2
0     1    a
1     2    b
2     3  NaN

In [24]:
# Create DataFrame from list or array
df2 = pd.DataFrame(data = [[1, 'a'], [2, 'b'], [3, np.nan]], 
                  index = ['Row1', 'Row2', 'Row3'], columns = ['Col1', 'Col2'])
print(df2)
d

      Col1 Col2
Row1     1    a
Row2     2    b
Row3     3  NaN

{'Col1': [1, 2, 3], 'Col2': ['a', 'b', nan]}

## Example 1: Importing and Viewing Data

In [25]:
# Data source: https://vincentarelbundock.github.io/Rdatasets/doc/carData/States.html

df3 = pd.read_csv('States.csv')
print(df3.head())

  state region    pop  SATV  SATM  percent  dollars  pay
0    AL    ESC   4041   470   514        8    3.648   27
1    AK    PAC    550   438   476       42    7.887   43
2    AZ    MTN   3665   445   497       25    4.231   30
3    AR    WSC   2351   470   511        6    3.334   23
4    CA    PAC  29760   419   484       45    4.826   39

In [26]:
print(df3.columns)
print(df3.dtypes)
print(df3.describe())

Index(['state', 'region', 'pop', 'SATV', 'SATM', 'percent', 'dollars', 'pay'], dtype='object')
state       object
region      object
pop          int64
SATV         int64
SATM         int64
percent      int64
dollars    float64
pay          int64
dtype: object
                pop        SATV        SATM    percent    dollars        pay
count     51.000000   51.000000   51.000000  51.000000  51.000000  51.000000
mean    4876.647059  448.156863  497.392157  33.745098   5.175490  30.941176
std     5439.202691   30.821014   34.568817  24.073922   1.376166   5.308151
min      454.000000  397.000000  437.000000   4.000000   2.993000  22.000000
25%     1215.000000  422.500000  470.000000  11.500000   4.354000  27.500000
50%     3294.000000  443.000000  490.000000  25.000000   5.045000  30.000000
75%     5780.000000  474.500000  522.500000  57.500000   5.689500  33.500000
max    29760.000000  511.000000  577.000000  74.000000   9.159000  43.000000

## Example 1: Selecting Data

In [27]:
df3.state  # Select column; equivalent to df3['state']

0     AL
1     AK
2     AZ
3     AR
4     CA
5     CO
6     CN
7     DE
8     DC
9     FL
10    GA
11    HI
12    ID
13    IL
14    IN
15    IA
16    KS
17    KY
18    LA
19    ME
20    MD
21    MA
22    MI
23    MN
24    MS
25    MO
26    MT
27    NE
28    NV
29    NH
30    NJ
31    NM
32    NY
33    NC
34    ND
35    OH
36    OK
37    OR
38    PA
39    RI
40    SC
41    SD
42    TN
43    TX
44    UT
45    VT
46    VA
47    WA
48    WV
49    WI
50    WY
Name: state, dtype: object

In [28]:
df3[:3] # Select data by rows

  state region   pop  SATV  SATM  percent  dollars  pay
0    AL    ESC  4041   470   514        8    3.648   27
1    AK    PAC   550   438   476       42    7.887   43
2    AZ    MTN  3665   445   497       25    4.231   30

In [29]:
df3[df3['pop'] > 10000]  # Select data by column value

   state region    pop  SATV  SATM  percent  dollars  pay
4     CA    PAC  29760   419   484       45    4.826   39
9     FL     SA  12938   418   466       44    5.154   30
13    IL    ENC  11431   466   528       16    5.062   34
32    NY     MA  17990   412   470       70    8.500   42
35    OH    ENC  10847   450   499       22    5.639   32
38    PA     MA  11882   420   463       64    6.534   36
43    TX    WSC  16987   413   461       42    4.238   28

## Example 1: Grouping

In [30]:
# Add a column that indicates whether state performed above median on SAT
df3['SAT'] = df3['SATV'] + df3['SATM']
df3['above-avg'] = df3['SAT'] > df3['SAT'].median()
df3.head()

  state region    pop  SATV  SATM  percent  dollars  pay  SAT above-avg
0    AL    ESC   4041   470   514        8    3.648   27  984      True
1    AK    PAC    550   438   476       42    7.887   43  914     False
2    AZ    MTN   3665   445   497       25    4.231   30  942      True
3    AR    WSC   2351   470   511        6    3.334   23  981      True
4    CA    PAC  29760   419   484       45    4.826   39  903     False

In [31]:
# Get mean indicators by SAT performance
df3.groupby('above-avg').mean()

,pop,SATV,SATM,percent,dollars,pay,SAT
above-avg,,,,,,,
False,6047.461538,422.076923,468.423077,54.615385,5.940538,33.807692,890.5
True,3659.000000,475.280000,527.520000,12.040000,4.379840,27.960000,1002.8

## Example 2: Formatting 18 Datasets

Tsvetkova, M., Wagner, C., & Mao, A. (2018). [The emergence of inequality in social groups: Network structure and institutions affect the distribution of earnings in cooperation games](https://doi.org/10.1371/journal.pone.0200965). *PloS One*, 13(7), e0200965.

```
00C000000000000
000000000000000
000801000080180
000000000000000
E6027B780080E84
000000000000000
6DB1A52006C5274
FC21E0008100040
FFD400000078000
F386808CC020814
```

## Example 2: Transform from Wide to Long

![Original data](figs/orig_data.png "Original data")

![New data](figs/new_data.png "New data")

## Example 2: Transform from Wide to Long

In [ ]:
'''
NETS = {'4_k_6':'cliques', '4_k_6_cycle':'cycle', '4_k_6_random_reg':'random', 
        '4_k_6_pair':'paired cliques', '4_k_6_random':'small world'}

# Get original data
data = pd.read_csv('./data_anon.csv')

# Subset to group size = 24 and no bots
data = data[(data['num_players']==24) & (data['num_dummies']==0)]

# Convert from wide to long to get cumulative_payoff per round
data['id'] = data.index
x = pd.wide_to_long(data, ['contribution', 'cumulative_payoff', 'auto_contrib'], i='id', j='round')
x.reset_index(inplace=True)

# Get payoff per period from cumulative payoff
x = x.sort_values(by=['exp_id', 'player_id', 'round'])
x['payoff'] = x['cumulative_payoff'].sub(x['cumulative_payoff'].shift())
x['payoff'].iloc[0] = x['cumulative_payoff'].iloc[0]
x_t1 = x[x['round'] == 1]
x.loc[x.index.isin(x_t1.index), 'payoff'] = x_t1['cumulative_payoff']

# Select relevant data and rename columns
x['treatment1'] = [NETS[i] for i in x['graph_id']]
x = x[['treatment1', 'exp_id', 'player_id', 'round', 'contribution', 'payoff', 'cumulative_payoff']]
x.columns = ['treatment1', 'group', 'player', 'round', 'action', 'payoff', 'wealth']

# Treat treatments as categorical data
x['treatment1'] = x['treatment1'].astype('category')
# Order the categories
x['treatment1'].cat.reorder_categories(['cliques', 'paired cliques', 'cycle', 'small world', 'random'])

# Export new data
x.to_csv('suri_data.csv', index=False)
'''

## Resources

* Get started: [First Pandas tutorial](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* Get better: [More advanced Pandas tutorial](https://pandas.pydata.org/pandas-docs/stable/cookbook.html)
* Get it done fast: [Pandas cheatsheet](http://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
* Get it all done: [Pandas API](https://pandas.pydata.org/pandas-docs/stable/api.html)